<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/matrix"
        android:label="D app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Instagram"
        tools:targetApi="31">
        <activity
            android:name=".ThirdActivity"
            android:exported="false"
            android:label="@string/title_activity_third"
            android:theme="@style/Theme.Instagram" />
        <activity
            android:name=".SecondActivity"
            android:exported="false"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.Instagram" />
        <activity
            android:name=".FirstActivity2"
            android:exported="false"
            android:label="@string/title_activity_first2"
            android:theme="@style/Theme.Instagram" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="D app"
            android:theme="@style/Theme.Instagram">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LottieActivity"
            android:exported="false"
            android:label="@string/title_activity_lottie"
            android:theme="@style/Theme.Instagram" />
        <activity
            android:name=".DogActivity"
            android:exported="false"
            android:label="@string/title_activity_dog"
            android:theme="@style/Theme.Instagram" />
        <activity
            android:name=".ExploreActivity"
            android:exported="false"
            android:label="@string/title_activity_explore"
            android:theme="@style/Theme.Instagram" />
        <activity
            android:name=".DestinationActivity"
            android:exported="false"
            android:label="@string/title_activity_destination"
            android:theme="@style/Theme.Instagram" />
        <activity
            android:name=".FormActivity"
            android:exported="false"
            android:label="@string/title_activity_Form"
            android:theme="@style/Theme.Instagram" />
        <activity
            android:name=".IntentActivity"
            android:exported="false"
            android:label="@string/title_activity_intent"
            android:theme="@style/Theme.Instagram" />
        <activity
            android:name=".LayoutActivity"
            android:exported="false"
            android:label="@string/title_activity_layout"
            android:theme="@style/Theme.Instagram" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Instagram"
            tools:ignore="RedundantLabel" />
    </application>

</manifest>